
.no-break {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-break-box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-break-box-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-break-box-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.break-word{
  overflow-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor:grab;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
  overflow: scroll;
}

td.minimum {
  width: 0;
  white-space: nowrap;
}

.dahed-box {
  border: 3px dashed;
  border-color: lightgray;
  text-align: center;
  color: gray;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.limit-bottom-no-bar {
  height: 97vh
}

.limit-bottom-with-bar {
  /* バーの高さを変更する場合はApp.vueを編集 */
  height: -webkit-calc(97vh - 60px - 4px)
}

.error-style {
  color: red;
}

.success-style {
  color: green;
}

a:link.no-link, a:visited.no-link, a:hover.no-link, a:active.no-link  {
  color: inherit;
  text-decoration: none;
}

.absolute-center-center{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-no-transform {
  text-transform: none;
}
