
.no-break {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-break-box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-break-box-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.break-word{
  overflow-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.strong { font-weight: bold; }
