
.rank {
  font-weight: bold;
  font-size: larger;
}

.no-reverse {
  display: inline-block;
}

.reverse {
  color: black;
  text-shadow:1px 2px 5px white;
}

.rainbow{
  background: repeating-linear-gradient(
    -45deg,
    rgb(255,0,0) 0% 14.29%,
    rgb(255,160,0) 28.57% 28.57%,
    rgb(0,160,0) 42.86% 42.86%,
    rgb(0,160,255) 57.14% 57.14%,
    rgb(0,0,255) 71.43% 71.43%,
    rgb(255,0,255) 85.71% 85.71%,
    rgb(255,0,0) 100% 100%
  );
}

.gold{
  background: repeating-linear-gradient(
    -45deg,
    rgb(255,150,0) 0% 25%,
    rgb(255,240,80) 50% 50%,
    rgb(255,150,0) 75% 100%
  );
}

.metal{
  background: repeating-linear-gradient(
    -45deg,
    rgb(80,180,255) 0% 25%,
    rgb(200,240,255) 50% 50%,
    rgb(80,180,255) 75% 100%
  );
}

.blue-green{
  background: rgb(60,160,120);
}

.green{
  background: rgb(60,160,60);
}

.purple{
  background: rgb(200,0,220);
}

.deep-purple{
  background: rgb(120,0,250);
}

.brown{
  background: rgb(160,80,0);
}

.red{
  background: rgb(255,0,0);
}

.deep-red{
  background: rgb(127,0,0);
}

.r-rainbow{
  color: transparent;
  background: repeating-linear-gradient(
    -45deg,
    rgb(255,0,0) 0% 14.29%,
    rgb(255,160,0) 28.57% 28.57%,
    rgb(0,160,0) 42.86% 42.86%,
    rgb(0,160,255) 57.14% 57.14%,
    rgb(0,0,255) 71.43% 71.43%,
    rgb(255,0,255) 85.71% 85.71%,
    rgb(255,0,0) 100% 100%
  );
  background-clip: text;
}

.r-gold{
  color: transparent;
  background: repeating-linear-gradient(
    -45deg,
    rgb(255,150,0) 0% 25%,
    rgb(255,240,80) 50% 50%,
    rgb(255,150,0) 75% 100%
  );
  background-clip: text;
}

.r-metal{
  color: transparent;
  background: repeating-linear-gradient(
    -45deg,
    rgb(80,180,255) 0% 25%,
    rgb(200,240,255) 50% 50%,
    rgb(80,180,255) 75% 100%
  );
  background-clip: text;
}

.r-blue-green{
  color: transparent;
  background: rgb(60,160,120);
  background-clip: text;
}

.r-green{
  color: transparent;
  background: rgb(60,160,60);
  background-clip: text;
}

.r-purple{
  color: transparent;
  background: rgb(200,0,220);
  background-clip: text;
}

.r-deep-purple{
  color: transparent;
  background: rgb(120,0,250);
  background-clip: text;
}

.r-brown{
  color: transparent;
  background: rgb(160,80,0);
  background-clip: text;
}

.r-red{
  color: transparent;
  background: rgb(255,0,0);
  background-clip: text;
}

.r-deep-red{
  color: transparent;
  background: rgb(127,0,0);
  background-clip: text;
}